<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
   <servlet>
    <servlet-name>OneKPServiceImpl</servlet-name>
    <servlet-class>au.edu.unimelb.plantcell.gwtphylo.server.OneKPServiceImpl</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>GetPhyloXMLServletImpl</servlet-name>
  	<servlet-class>au.edu.unimelb.plantcell.gwtphylo.server.GetPhyloXMLServlet</servlet-class>
  </servlet>
 
  <servlet>
  	<servlet-name>GetAlignmentServletImpl</servlet-name>
  	<servlet-class>au.edu.unimelb.plantcell.gwtphylo.server.GetAlignmentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>GetPhyloXMLServletImpl</servlet-name>
  	<url-pattern>/au_edu_unimelb_plantcell_gwtphylo/phyloxml</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>GetAlignmentServletImpl</servlet-name>
  	<url-pattern>/au_edu_unimelb_plantcell_gwtphylo/fasta</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>OneKPServiceImpl</servlet-name>
  	<url-pattern>/au_edu_unimelb_plantcell_gwtphylo/OneKPServiceImpl</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Au_edu_unimelb_plantcell_gwtphylo.html</welcome-file>
  </welcome-file-list>

</web-app>
