/** Add css rules here for your application. */


.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/** PhyloXML files tree items to load */
.phyloxmlti {
	font-size: 8pt; 
}

/** Let user know a file is being loaded (large files may take several seconds to download) */
.loadingMessage {
	color: red;
	font-size: +2pt;
	font-weight: bold;
	text-align: center;
}

/** size of the tree canvas */
.scrollableCanvas {
	width: 60%;
	height: 60%;
}

.svgCanvas {
	width: 60%;
	height: 60%;
}

td.heading {
	font-size: 28pt;
	font-weight: bold;
	text-align: left;
}