<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>OneKPServiceImpl</servlet-name>
    <servlet-class>au.edu.unimelb.plantcell.gwtphylo.server.OneKPServiceImpl</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>GetPhyloXMLServletImpl</servlet-name>
  	<servlet-class>au.edu.unimelb.plantcell.gwtphylo.server.GetPhyloXMLServlet</servlet-class>
  </servlet>
 
  <servlet>
  	<servlet-name>GetAlignmentServletImpl</servlet-name>
  	<servlet-class>au.edu.unimelb.plantcell.gwtphylo.server.GetAlignmentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>GetPhyloXMLServletImpl</servlet-name>
  	<url-pattern>/gwtphylo/phyloxml</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>GetAlignmentServletImpl</servlet-name>
  	<url-pattern>/gwtphylo/fasta</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>OneKPServiceImpl</servlet-name>
  	<url-pattern>/gwtphylo/trees</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!--  until publication of the capstone paper, the site requires basic authentication -->
  <security-constraint>
		<web-resource-collection>
			<web-resource-name>Wildcard means whole app requires authentication</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>coe</role-name>
		</auth-constraint>

		<user-data-constraint>
			<!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
  </security-constraint>
  
  <login-config>
		<auth-method>BASIC</auth-method>
  </login-config>

</web-app>
